@import '../../assets/scss/global';

.profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  .profile-text {

    text-align: left;

    h3 {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
      white-space: pre-wrap;
      color: $red-color;
      width: 70%;
      text-align: right;
      margin-left: 23%;
    }

    p {
      margin: 0;
      font-size: 0.9rem;

    }
  }

  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

