@import '../../assets/scss/global';


#footer {
  background-color: $base-color;
  color: $invert-base-color;
  padding: 2vh;
  text-align: center;
  max-width: none;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  img {
    padding:4vh;
  }

}