@import '../../assets/scss/global';


footer {
  background-color: $base-color;
  color: $invert-base-color;
  padding: 2vh;
  text-align: center;
  max-width: none;

  width: 100%;
  img {
    padding:4vh;
  }

}